.arrow-down {
    position: absolute;
    width: 0; 
    height: 0;
    left: 3px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    
    border-top: 7px solid #455A64;
  }
  
  .arrow-right {
    position: absolute;
    width: 0; 
    height: 0; 
    left: 8px;
    top: -3px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    
    border-left: 7px solid #455A64;
  }