<div>
    <button (click)="addNode()">addNode</button><button (click)="deleteNode()">deleteNode</button><input type="text" [(ngModel)]="currentId">
    <button (click)="firstTreeRef.expandAll()">ExpandAll</button>
    <button (click)="firstTreeRef.collapseAll()">CollapseAll</button>
    <input type="text" [(ngModel)]="filter">
</div>
<div style="display: flex; flex: 1 1; flex-direction: row">
  <div style="display: flex; flex: 1 1; flex-direction: row">
    <tree-ngx #firstTreeRef (selectedItems)="firstSelectedItems = $event" [filter]="filter" [nodeItems]="firstTree" [options]="firstTreeoptions">
      <ng-template #nodeNameTemplate let-node="node" let-context="context">
        {{node.name}}
        id: {{node.id}}
        <span (click)="context.delete()">delete</span>
      </ng-template>
    </tree-ngx>
  </div>
  <div style="display: flex; flex: 1 1; flex-direction: row">
    <tree-ngx #secondTreeRef (selectedItems)="secondSelectedItems = $event" [filter]="filter" [nodeItems]="secondTree" [callbacks]="secondTreecallbacks" [options]="secondTreeoptions">
    </tree-ngx>
  </div>
  <div style="display: flex; flex: 1 1; flex-direction: row">
    {{firstSelectedItems | json}}
  </div>
  <div style="display: flex; flex: 1 1; flex-direction: row">
    {{secondSelectedItems | json}}
  </div>
</div>
