<div>
  <button (click)="addNode()">addNode</button>
  <button (click)="deleteNode()">deleteNode</button>
  <input type="text" [(ngModel)]="currentId">
  <button (click)="firstTreeRef.expandAll()">ExpandAll</button>
  <button (click)="firstTreeRef.collapseAll()">CollapseAll</button>
  <input type="text" [(ngModel)]="filter">
</div>
<div style="display: flex; flex: 1 1; flex-direction: row">
  <div style="display: flex; flex: 1 1; flex-direction: row">
    <tree-ngx #firstTreeRef (selectedItems)="selecedItemsChanged($event)" [filter]="filter" [nodeItems]="firstTree" [callbacks]="firstTreecallbacks"
      [options]="firstTreeoptions">
      <ng-template #nodeCollapsibleTemplate let-expanded="expanded">
        <span *ngIf="expanded">-</span>
        <span *ngIf="!expanded">+</span>
      </ng-template>
      <ng-template #nodeNameTemplate let-node="node" let-context="context">
        <span [class.active]="context.active">{{node.name}} id: {{node.id}}</span>
        <span style="cursor: pointer" (click)="context.delete()">delete</span>
      </ng-template>
    </tree-ngx>
  </div>
  <div style="display: flex; flex: 1 1; flex-direction: row">
    <tree-ngx #secondTreeRef (selectedItems)="secondSelectedItems = $event" [filter]="filter" [nodeItems]="secondTree" [callbacks]="secondTreecallbacks"
      [options]="secondTreeoptions">
      <ng-template #nodeNameTemplate let-node="node" let-context="context">
        <span [class.active]="context.active">{{node.name}} id: {{node.id}}</span>
        <span style="cursor: pointer" (click)="context.delete()">delete</span>
      </ng-template>
    </tree-ngx>
  </div>
  <div style="display: flex; flex: 1 1; flex-direction: row">
    {{firstSelectedItems | json}}
  </div>
  <div style="display: flex; flex: 1 1; flex-direction: row">
    {{secondSelectedItems | json}}
  </div>
</div>
<div>
  <tree-ngx #secondTreeRef [nodeItems]="secondTree" [callbacks]="secondTreecallbacks"
      [options]="secondTreeoptions">
    </tree-ngx>
</div>
