.tree-ins {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  .node-offset {
    display: flex;
    margin-left: 20px;
  }
  .node-container {
    display: inline-block; //Empty container to align nodes with no collapse
    .node-icon-wrapper {
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 15px;
      height: 18px;
      .node-icon {
        font-size: 26px;
        position: absolute;
        top: -1px;
        left: 4px;
      }
    }
    .node-name {
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      padding: 5px 0px 5px 10px;

      &.hasCheckBox {
        padding: 5px 0px 5px 0px;
      }

      &.markSelected {
        padding: 5px 0px 5px 5px;
        border-left: 5px #226699 solid;
      }
    }
  }
}

.node-children {
  display: flex;
  flex: 1 1 auto;
}
